@import "../index.css";

.new-thread-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.input-field {
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    margin: 15px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.button-group {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.back-button,
.create-button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

.back-button {
    background-color: var(--secondary-color);
    color: white;
    transition: background-color 0.3s;
}

.back-button:hover {
    background-color: var(--secondary-color-dark);
}

.create-button {
    background-color: var(--primary-color);
    color: white;
    transition: background-color 0.3s;
}

.create-button:hover {
    background-color: var(--primary-color-dark);
}