@import "../index.css";

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-color);
    padding: 20px;
}

.header-title {
    margin: 0;
    color: white;
    font-size: 28px;
    font-weight: bold;
}

.create-thread {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: white;
    color: var(--primary-color);
    font-weight: bold;
    transition: background-color 0.3s;
}

.create-thread:hover {
    background-color: #e0e0e0;
}