html,
body,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2f2f2f;
}

.app {
  width: 100%;
  height: 100%;
  background-color: #b0b0b0;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #36b37e;
  padding: 20px;
}

.header-title {
  margin: 0;
  color: white;
  font-size: 28px;
  font-weight: bold;
}

.create-thread {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: white;
  color: #36b37e;
  font-weight: bold;
  transition: background-color 0.3s;
}

.create-thread:hover {
  background-color: #e0e0e0;
}

.main-content {
  flex: 1;
  padding: 20px;
  text-align: center;
  overflow-y: auto;
}

.title {
  font-size: 26px;
  margin-bottom: 20px;
}

.thread-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.thread-button {
  width: 100%;
  padding: 15px;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  text-align: left;
}

.thread-button:hover {
  background-color: #e0e0e0;
}